@charset "UTF-8";
@import url("../fonts/icomoon/style.css");

.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
.alert {
	width: 100%;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid transparent;
	position: relative
}
.alert-close {
	position: absolute;
	top: 3px;
	right: 6px;
	cursor: pointer
}
.alert-red {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}
.alert-green {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}
.alert-blue {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}
.alert-yellow {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}
.breadcrumb {
	padding: 8px 15px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px
}
.breadcrumb li {
	display: inline-block
}
.breadcrumb li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/"
}
.breadcrumb .active {
	color: #999
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn:focus, .btn.focus {
	color: #333;
	text-decoration: none
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default:focus, .btn-default .focus, .btn-default:active, .btn-default .active {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
	background-image: none
}
.btn-default .disabled, .disabled .btn-default:active, .disabled .btn-default:focus, .btn-default[disabled], .btn-default[disabled] .btn-default:active, .btn-default[disabled] .btn-default:focus {
	background-color: #fff;
	border-color: #ccc
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary:focus, .btn-primary .focus, .btn-primary:active, .btn-primary .active {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
	background-image: none
}
.btn-primary[disabled], .btn-primary[disabled] .btn-primary:active, .btn-primary[disabled] .btn-primary:focus {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-yellow {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #f0ad4e
}
.btn-yellow:focus, .btn-yellow .focus, .btn-yellow:active, .btn-yellow .active {
	color: #fff;
	background-color: #eea236;
	border-color: #eea236;
	background-image: none
}
.btn-group .btn:not(:first-child):not(:last-child), .btn-group button:not(:first-child):not(:last-child) {
	border-radius: 0;
	border-right-width: 0px
}
.btn-group .btn:last-child, .btn-group button:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px
}
.btn-group .btn:first-child, .btn-group button:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-width: 0px
}
.btn-group .btn, .btn-group button {
	display: block;
	float: left
}
.btn-group-justified, .group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate
}
.btn-group-justified .justified, .btn-group-justified .btn, .btn-group-justified .btn-group, .group-justified .justified, .group-justified .btn, .group-justified .btn-group {
	display: table-cell;
	float: none;
	width: 100%
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
@media all and (min-width:768px) {
	.container {
		margin: 0px auto 0px auto;
		width: 750px
	}
}
@media all and (min-width:992px) {
	.container {
		margin: 0px auto 0px auto;
		width: 970px
	}
}
@media all and (min-width:1200px) {
	.container {
		margin: 0px auto 0px auto;
		width: 1170px
	}
}
.dropdown {
	position: relative
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.175)
}
.dropdown-menu a {
	display: block;
	padding: 5px 10px 5px 10px
}
.dropdown-menu .divider {
	height: 1px;
	background-color: #ccc;
	margin: 5px 0px 5px 0px
}
.dropdown-header {
	display: block;
	padding: 5px 0px 5px 10px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #999
}
.file {
	position: relative;
	cursor: default
}
.file input[type="file"] {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 10
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
.form .form-control, .form-horizontal .form-control {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	display: block;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form .form-control:focus, .form-horizontal .form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}
.form-horizontal .control-label {
	padding-top: 7px;
	text-align: right
}
@media (min-width:768px) {
	.form-horizontal .control-label {
		margin-bottom: 0
	}
}
.form-group {
	margin-bottom: 5px
}
.form-group .help {
	color: #666666
}
.radio, .checkbox {
	position: relative;
	display: block
}
.radio, .checkbox-inline, .radio-inline, .checkbox {
	margin-top: 7px
}
.radio label, .checkbox-inline label, .radio-inline label, .checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 4px;
	margin-left: -20px
}
.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
}
.has-success-span {
	color: #3c763d
}
.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
}
.has-error-span {
	color: #a94442
}
.has-feedback .form-control {
	padding-right: 30px
}
.has-feedback .form-control-feedback {
	top: 9px
}
.form-control-feedback {
	position: absolute;
	right: 15px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none
}
.help-inline {
	padding-top: 7px
}
.help-inline span {
	margin-left: -25px;
	color: red;
	font-size: 13px;
	font-weight: 600
}
.help-inline font {
	font-size: 17px
}
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}
.flex-1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.flex-2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	flex: 2
}
.img-line {
	line-height: 0.7
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("../fonts/glyphicons-halflings-regular.eot");
	src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
.glyphicon {
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.glyphicon-asterisk:before {
	content: "\2a"
}
.glyphicon-plus:before {
	content: "\2b"
}
.glyphicon-euro:before, .glyphicon-eur:before {
	content: "\20ac"
}
.glyphicon-minus:before {
	content: "\2212"
}
.glyphicon-cloud:before {
	content: "\2601"
}
.glyphicon-envelope:before {
	content: "\2709"
}
.glyphicon-pencil:before {
	content: "\270f"
}
.glyphicon-glass:before {
	content: "\e001"
}
.glyphicon-music:before {
	content: "\e002"
}
.glyphicon-search:before {
	content: "\e003"
}
.glyphicon-heart:before {
	content: "\e005"
}
.glyphicon-star:before {
	content: "\e006"
}
.glyphicon-star-empty:before {
	content: "\e007"
}
.glyphicon-user:before {
	content: "\e008"
}
.glyphicon-film:before {
	content: "\e009"
}
.glyphicon-th-large:before {
	content: "\e010"
}
.glyphicon-th:before {
	content: "\e011"
}
.glyphicon-th-list:before {
	content: "\e012"
}
.glyphicon-ok:before {
	content: "\e013"
}
.glyphicon-remove:before {
	content: "\e014"
}
.glyphicon-zoom-in:before {
	content: "\e015"
}
.glyphicon-zoom-out:before {
	content: "\e016"
}
.glyphicon-off:before {
	content: "\e017"
}
.glyphicon-signal:before {
	content: "\e018"
}
.glyphicon-cog:before {
	content: "\e019"
}
.glyphicon-trash:before {
	content: "\e020"
}
.glyphicon-home:before {
	content: "\e021"
}
.glyphicon-file:before {
	content: "\e022"
}
.glyphicon-time:before {
	content: "\e023"
}
.glyphicon-road:before {
	content: "\e024"
}
.glyphicon-download-alt:before {
	content: "\e025"
}
.glyphicon-download:before {
	content: "\e026"
}
.glyphicon-upload:before {
	content: "\e027"
}
.glyphicon-inbox:before {
	content: "\e028"
}
.glyphicon-play-circle:before {
	content: "\e029"
}
.glyphicon-repeat:before {
	content: "\e030"
}
.glyphicon-refresh:before {
	content: "\e031"
}
.glyphicon-list-alt:before {
	content: "\e032"
}
.glyphicon-lock:before {
	content: "\e033"
}
.glyphicon-flag:before {
	content: "\e034"
}
.glyphicon-headphones:before {
	content: "\e035"
}
.glyphicon-volume-off:before {
	content: "\e036"
}
.glyphicon-volume-down:before {
	content: "\e037"
}
.glyphicon-volume-up:before {
	content: "\e038"
}
.glyphicon-qrcode:before {
	content: "\e039"
}
.glyphicon-barcode:before {
	content: "\e040"
}
.glyphicon-tag:before {
	content: "\e041"
}
.glyphicon-tags:before {
	content: "\e042"
}
.glyphicon-book:before {
	content: "\e043"
}
.glyphicon-bookmark:before {
	content: "\e044"
}
.glyphicon-print:before {
	content: "\e045"
}
.glyphicon-camera:before {
	content: "\e046"
}
.glyphicon-font:before {
	content: "\e047"
}
.glyphicon-bold:before {
	content: "\e048"
}
.glyphicon-italic:before {
	content: "\e049"
}
.glyphicon-text-height:before {
	content: "\e050"
}
.glyphicon-text-width:before {
	content: "\e051"
}
.glyphicon-align-left:before {
	content: "\e052"
}
.glyphicon-align-center:before {
	content: "\e053"
}
.glyphicon-align-right:before {
	content: "\e054"
}
.glyphicon-align-justify:before {
	content: "\e055"
}
.glyphicon-list:before {
	content: "\e056"
}
.glyphicon-indent-left:before {
	content: "\e057"
}
.glyphicon-indent-right:before {
	content: "\e058"
}
.glyphicon-facetime-video:before {
	content: "\e059"
}
.glyphicon-picture:before {
	content: "\e060"
}
.glyphicon-map-marker:before {
	content: "\e062"
}
.glyphicon-adjust:before {
	content: "\e063"
}
.glyphicon-tint:before {
	content: "\e064"
}
.glyphicon-edit:before {
	content: "\e065"
}
.glyphicon-share:before {
	content: "\e066"
}
.glyphicon-check:before {
	content: "\e067"
}
.glyphicon-move:before {
	content: "\e068"
}
.glyphicon-step-backward:before {
	content: "\e069"
}
.glyphicon-fast-backward:before {
	content: "\e070"
}
.glyphicon-backward:before {
	content: "\e071"
}
.glyphicon-play:before {
	content: "\e072"
}
.glyphicon-pause:before {
	content: "\e073"
}
.glyphicon-stop:before {
	content: "\e074"
}
.glyphicon-forward:before {
	content: "\e075"
}
.glyphicon-fast-forward:before {
	content: "\e076"
}
.glyphicon-step-forward:before {
	content: "\e077"
}
.glyphicon-eject:before {
	content: "\e078"
}
.glyphicon-chevron-left:before {
	content: "\e079"
}
.glyphicon-chevron-right:before {
	content: "\e080"
}
.glyphicon-plus-sign:before {
	content: "\e081"
}
.glyphicon-minus-sign:before {
	content: "\e082"
}
.glyphicon-remove-sign:before {
	content: "\e083"
}
.glyphicon-ok-sign:before {
	content: "\e084"
}
.glyphicon-question-sign:before {
	content: "\e085"
}
.glyphicon-info-sign:before {
	content: "\e086"
}
.glyphicon-screenshot:before {
	content: "\e087"
}
.glyphicon-remove-circle:before {
	content: "\e088"
}
.glyphicon-ok-circle:before {
	content: "\e089"
}
.glyphicon-ban-circle:before {
	content: "\e090"
}
.glyphicon-arrow-left:before {
	content: "\e091"
}
.glyphicon-arrow-right:before {
	content: "\e092"
}
.glyphicon-arrow-up:before {
	content: "\e093"
}
.glyphicon-arrow-down:before {
	content: "\e094"
}
.glyphicon-share-alt:before {
	content: "\e095"
}
.glyphicon-resize-full:before {
	content: "\e096"
}
.glyphicon-resize-small:before {
	content: "\e097"
}
.glyphicon-exclamation-sign:before {
	content: "\e101"
}
.glyphicon-gift:before {
	content: "\e102"
}
.glyphicon-leaf:before {
	content: "\e103"
}
.glyphicon-fire:before {
	content: "\e104"
}
.glyphicon-eye-open:before {
	content: "\e105"
}
.glyphicon-eye-close:before {
	content: "\e106"
}
.glyphicon-warning-sign:before {
	content: "\e107"
}
.glyphicon-plane:before {
	content: "\e108"
}
.glyphicon-calendar:before {
	content: "\e109"
}
.glyphicon-random:before {
	content: "\e110"
}
.glyphicon-comment:before {
	content: "\e111"
}
.glyphicon-magnet:before {
	content: "\e112"
}
.glyphicon-chevron-up:before {
	content: "\e113"
}
.glyphicon-chevron-down:before {
	content: "\e114"
}
.glyphicon-retweet:before {
	content: "\e115"
}
.glyphicon-shopping-cart:before {
	content: "\e116"
}
.glyphicon-folder-close:before {
	content: "\e117"
}
.glyphicon-folder-open:before {
	content: "\e118"
}
.glyphicon-resize-vertical:before {
	content: "\e119"
}
.glyphicon-resize-horizontal:before {
	content: "\e120"
}
.glyphicon-hdd:before {
	content: "\e121"
}
.glyphicon-bullhorn:before {
	content: "\e122"
}
.glyphicon-bell:before {
	content: "\e123"
}
.glyphicon-certificate:before {
	content: "\e124"
}
.glyphicon-thumbs-up:before {
	content: "\e125"
}
.glyphicon-thumbs-down:before {
	content: "\e126"
}
.glyphicon-hand-right:before {
	content: "\e127"
}
.glyphicon-hand-left:before {
	content: "\e128"
}
.glyphicon-hand-up:before {
	content: "\e129"
}
.glyphicon-hand-down:before {
	content: "\e130"
}
.glyphicon-circle-arrow-right:before {
	content: "\e131"
}
.glyphicon-circle-arrow-left:before {
	content: "\e132"
}
.glyphicon-circle-arrow-up:before {
	content: "\e133"
}
.glyphicon-circle-arrow-down:before {
	content: "\e134"
}
.glyphicon-globe:before {
	content: "\e135"
}
.glyphicon-wrench:before {
	content: "\e136"
}
.glyphicon-tasks:before {
	content: "\e137"
}
.glyphicon-filter:before {
	content: "\e138"
}
.glyphicon-briefcase:before {
	content: "\e139"
}
.glyphicon-fullscreen:before {
	content: "\e140"
}
.glyphicon-dashboard:before {
	content: "\e141"
}
.glyphicon-paperclip:before {
	content: "\e142"
}
.glyphicon-heart-empty:before {
	content: "\e143"
}
.glyphicon-link:before {
	content: "\e144"
}
.glyphicon-phone:before {
	content: "\e145"
}
.glyphicon-pushpin:before {
	content: "\e146"
}
.glyphicon-usd:before {
	content: "\e148"
}
.glyphicon-gbp:before {
	content: "\e149"
}
.glyphicon-sort:before {
	content: "\e150"
}
.glyphicon-sort-by-alphabet:before {
	content: "\e151"
}
.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152"
}
.glyphicon-sort-by-order:before {
	content: "\e153"
}
.glyphicon-sort-by-order-alt:before {
	content: "\e154"
}
.glyphicon-sort-by-attributes:before {
	content: "\e155"
}
.glyphicon-sort-by-attributes-alt:before {
	content: "\e156"
}
.glyphicon-unchecked:before {
	content: "\e157"
}
.glyphicon-expand:before {
	content: "\e158"
}
.glyphicon-collapse-down:before {
	content: "\e159"
}
.glyphicon-collapse-up:before {
	content: "\e160"
}
.glyphicon-log-in:before {
	content: "\e161"
}
.glyphicon-flash:before {
	content: "\e162"
}
.glyphicon-log-out:before {
	content: "\e163"
}
.glyphicon-new-window:before {
	content: "\e164"
}
.glyphicon-record:before {
	content: "\e165"
}
.glyphicon-save:before {
	content: "\e166"
}
.glyphicon-open:before {
	content: "\e167"
}
.glyphicon-saved:before {
	content: "\e168"
}
.glyphicon-import:before {
	content: "\e169"
}
.glyphicon-export:before {
	content: "\e170"
}
.glyphicon-send:before {
	content: "\e171"
}
.glyphicon-floppy-disk:before {
	content: "\e172"
}
.glyphicon-floppy-saved:before {
	content: "\e173"
}
.glyphicon-floppy-remove:before {
	content: "\e174"
}
.glyphicon-floppy-save:before {
	content: "\e175"
}
.glyphicon-floppy-open:before {
	content: "\e176"
}
.glyphicon-credit-card:before {
	content: "\e177"
}
.glyphicon-transfer:before {
	content: "\e178"
}
.glyphicon-cutlery:before {
	content: "\e179"
}
.glyphicon-header:before {
	content: "\e180"
}
.glyphicon-compressed:before {
	content: "\e181"
}
.glyphicon-earphone:before {
	content: "\e182"
}
.glyphicon-phone-alt:before {
	content: "\e183"
}
.glyphicon-tower:before {
	content: "\e184"
}
.glyphicon-stats:before {
	content: "\e185"
}
.glyphicon-sd-video:before {
	content: "\e186"
}
.glyphicon-hd-video:before {
	content: "\e187"
}
.glyphicon-subtitles:before {
	content: "\e188"
}
.glyphicon-sound-stereo:before {
	content: "\e189"
}
.glyphicon-sound-dolby:before {
	content: "\e190"
}
.glyphicon-sound-5-1:before {
	content: "\e191"
}
.glyphicon-sound-6-1:before {
	content: "\e192"
}
.glyphicon-sound-7-1:before {
	content: "\e193"
}
.glyphicon-copyright-mark:before {
	content: "\e194"
}
.glyphicon-registration-mark:before {
	content: "\e195"
}
.glyphicon-cloud-download:before {
	content: "\e197"
}
.glyphicon-cloud-upload:before {
	content: "\e198"
}
.glyphicon-tree-conifer:before {
	content: "\e199"
}
.glyphicon-tree-deciduous:before {
	content: "\e200"
}
.glyphicon-cd:before {
	content: "\e201"
}
.glyphicon-save-file:before {
	content: "\e202"
}
.glyphicon-open-file:before {
	content: "\e203"
}
.glyphicon-level-up:before {
	content: "\e204"
}
.glyphicon-copy:before {
	content: "\e205"
}
.glyphicon-paste:before {
	content: "\e206"
}
.glyphicon-alert:before {
	content: "\e209"
}
.glyphicon-equalizer:before {
	content: "\e210"
}
.glyphicon-king:before {
	content: "\e211"
}
.glyphicon-queen:before {
	content: "\e212"
}
.glyphicon-pawn:before {
	content: "\e213"
}
.glyphicon-bishop:before {
	content: "\e214"
}
.glyphicon-knight:before {
	content: "\e215"
}
.glyphicon-baby-formula:before {
	content: "\e216"
}
.glyphicon-tent:before {
	content: "\26fa"
}
.glyphicon-blackboard:before {
	content: "\e218"
}
.glyphicon-bed:before {
	content: "\e219"
}
.glyphicon-apple:before {
	content: "\f8ff"
}
.glyphicon-erase:before {
	content: "\e221"
}
.glyphicon-hourglass:before {
	content: "\231b"
}
.glyphicon-lamp:before {
	content: "\e223"
}
.glyphicon-duplicate:before {
	content: "\e224"
}
.glyphicon-piggy-bank:before {
	content: "\e225"
}
.glyphicon-scissors:before {
	content: "\e226"
}
.glyphicon-bitcoin:before {
	content: "\e227"
}
.glyphicon-btc:before {
	content: "\e227"
}
.glyphicon-xbt:before {
	content: "\e227"
}
.glyphicon-yen:before {
	content: "\00a5"
}
.glyphicon-jpy:before {
	content: "\00a5"
}
.glyphicon-ruble:before {
	content: "\20bd"
}
.glyphicon-rub:before {
	content: "\20bd"
}
.glyphicon-scale:before {
	content: "\e230"
}
.glyphicon-ice-lolly:before {
	content: "\e231"
}
.glyphicon-ice-lolly-tasted:before {
	content: "\e232"
}
.glyphicon-education:before {
	content: "\e233"
}
.glyphicon-option-horizontal:before {
	content: "\e234"
}
.glyphicon-option-vertical:before {
	content: "\e235"
}
.glyphicon-menu-hamburger:before {
	content: "\e236"
}
.glyphicon-modal-window:before {
	content: "\e237"
}
.glyphicon-oil:before {
	content: "\e238"
}
.glyphicon-grain:before {
	content: "\e239"
}
.glyphicon-sunglasses:before {
	content: "\e240"
}
.glyphicon-text-size:before {
	content: "\e241"
}
.glyphicon-text-color:before {
	content: "\e242"
}
.glyphicon-text-background:before {
	content: "\e243"
}
.glyphicon-object-align-top:before {
	content: "\e244"
}
.glyphicon-object-align-bottom:before {
	content: "\e245"
}
.glyphicon-object-align-horizontal:before {
	content: "\e246"
}
.glyphicon-object-align-left:before {
	content: "\e247"
}
.glyphicon-object-align-vertical:before {
	content: "\e248"
}
.glyphicon-object-align-right:before {
	content: "\e249"
}
.glyphicon-triangle-right:before {
	content: "\e250"
}
.glyphicon-triangle-left:before {
	content: "\e251"
}
.glyphicon-triangle-bottom:before {
	content: "\e252"
}
.glyphicon-triangle-top:before {
	content: "\e253"
}
.glyphicon-console:before {
	content: "\e254"
}
.glyphicon-superscript:before {
	content: "\e255"
}
.glyphicon-subscript:before {
	content: "\e256"
}
.glyphicon-menu-left:before {
	content: "\e257"
}
.glyphicon-menu-right:before {
	content: "\e258"
}
.glyphicon-menu-down:before {
	content: "\e259"
}
.glyphicon-menu-up:before {
	content: "\e260"
}
.lan-base {
	border: 1px solid #ccc;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 2px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.175)
}
@media (min-width:768px) {
	.lan-base-left {
		width: 48%;
		float: left
	}
}
@media (min-width:768px) {
	.lan-base-right {
		width: 48%;
		float: right
	}
}
.lan-content {
	margin-left: 30px
}
.lan-content .lan-small-content {
	font-size: 18px
}
.modal .modal-dialog .modal-content .modal-head, .modal .modal-dialog .modal-content .modal-footer {
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 15px 15px 15px;
	min-height: 31px
}
.modal {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050
}
.modal .modal-dialog {
	opacity: 1;
	margin: auto auto auto auto;
	width: 600px;
	height: auto
}
.modal .modal-dialog .modal-content {
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	margin: 100px auto auto auto;
	width: 100%;
	height: 100%
}
.modal .modal-dialog .modal-content .modal-head {
	position: relative
}
.modal .modal-dialog .modal-content .modal-head .close {
	float: right
}
.modal .modal-dialog .modal-content .modal-body {
	min-height: 130px;
	width: 100%;
	padding: 15px 15px 15px 15px;
	border-bottom: 1px solid #e5e5e5
}
.show {
	display: block
}
.hidden {
	display: none
}
a.close {
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #B8B8B8;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	position: absolute;
	right: 15px
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
.nav .display a {
	color: #666666
}
.nav {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.nav li {
	display: block;
	position: relative
}
.nav li a {
	position: relative;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	line-height: 1.42857143;
	border: 1px solid transparent
}
.nav-tabs {
	border-bottom: 1px solid #DDDDDD
}
.nav-tabs li {
	margin-bottom: -1px;
	float: left
}
.nav-tabs li a {
	border-radius: 4px 4px 0 0;
	margin-right: 2px
}
.nav-tabs .active a {
	color: #333333;
	background-color: white;
	border-radius: 4px 4px 0 0;
	border: 1px solid #DDDDDD;
	border-bottom-color: white
}
.navbar-nav li {
	margin-bottom: -1px;
	float: left
}
.navbar-nav li a {
	border-radius: 4px 4px 4px 4px;
	margin-right: 2px
}
.navbar-nav .active a {
	color: #333333;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #DDDDDD;
	background-color: #428BCA
}
.nav-tabs-cell li {
	margin-bottom: -1px;
	float: left
}
.nav-tabs-cell li a {
	border-radius: 0px 0px 0px 0px;
	margin-right: 2px
}
.nav-tabs-cell .display {
	font-weight: normal
}
.nav-tabs-cell li a {
	color: #636363;
	border: 0px
}
.nav-tabs-cell .active a {
	color: #9C79D4;
	border-bottom: 2px solid #9C79D4
}
.nav-weight {
	font-weight: 600
}
.line-right {
	position: relative
}
.line-right:before {
	position: absolute;
	content: "";
	top: -1px;
	height: 100%;
	width: 1px;
	right: 0;
	-webkit-transform: scaleX(0.5);
	border-right: 1px solid #ccc
}
.line-left {
	position: relative
}
.line-left:before {
	position: absolute;
	content: "";
	top: -1px;
	height: 100%;
	width: 1px;
	left: 0;
	-webkit-transform: scaleX(0.5);
	border-left: 1px solid #ccc
}
.line-top {
	position: relative
}
.line-top:before {
	position: absolute;
	content: "";
	height: 1px;
	width: 100%;
	left: 0px;
	top: -1px;
	-webkit-transform: scaleY(0.5);
	border-top: 1px solid #ccc
}
.line-bottom {
	position: relative
}
.line-bottom:before {
	position: absolute;
	content: "";
	height: 1px;
	width: 100%;
	left: 0px;
	bottom: -1px;
	-webkit-transform: scaleY(0.5);
	border-bottom: 1px solid #ccc
}
*:-moz-placeholder {
	color: #999;
	opacity: 1
}
*::-moz-placeholder {
	color: #999;
	opacity: 1
}
*:-ms-input-placeholder {
	color: #999
}
*::-webkit-input-placeholder {
	color: #999
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #DBF2F4;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
	position: relative;
	min-height: 1px
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
.row {
	width: 100%;
	min-height: 1px
}
.width {
	width: 100%
}
.col-1 {
	float: left;
	display: block;
	width: 10%
}
.col-2 {
	float: left;
	display: block;
	width: 20%
}
.col-3 {
	float: left;
	display: block;
	width: 30%
}
.col-4 {
	float: left;
	display: block;
	width: 40%
}
.col-5 {
	float: left;
	display: block;
	width: 50%
}
.col-6 {
	float: left;
	display: block;
	width: 60%
}
.col-7 {
	float: left;
	display: block;
	width: 70%
}
.col-8 {
	float: left;
	display: block;
	width: 80%
}
.col-9 {
	float: left;
	display: block;
	width: 90%
}
.col-10 {
	float: left;
	display: block;
	width: 100%
}
.col-push-1 {
	margin-left: 10%
}
.col-push-2 {
	margin-left: 20%
}
.col-push-3 {
	margin-left: 30%
}
.col-push-4 {
	margin-left: 40%
}
.col-push-5 {
	margin-left: 50%
}
.col-push-6 {
	margin-left: 60%
}
.col-push-7 {
	margin-left: 70%
}
.col-push-8 {
	margin-left: 80%
}
.col-push-9 {
	margin-left: 90%
}
.col-push-10 {
	margin-left: 100%
}
.round {
	border-radius: 50%
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
body {
	font-size: 14px;
	font-family: "Microsoft Yahei", 微软雅黑, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.42857143;
	background-color: white;
	min-width: 300px;
}
.table {
	width: 100%
}
.table tr {
	height: 37px
}
.table td, .table th {
	padding: 8px;
	text-wrap: none
}
.table-border td, .table-border th {
	border: 1px solid #DDDDDD;
	text-align: left
}
.table-striped tbody tr:nth-child(odd) {
	background-color: #EEF0F4
}
.table-condensed tr {
	height: 31px
}
.table-condensed td, .table-condensed th {
	padding: 5px
}
.table-responsive {
	clear: right;
	width: auto;
	overflow-x: auto
}
.table-responsive .table {
	white-space: nowrap
}
.alert:before, .container:before, .form-group:before, .nav:before, .progress:before, .row:before, .alert:after, .container:after, .form-group:after, .nav:after, .progress:after, .row:after {
	display: table;
	content: "";
	clear: both
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px
}
h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px
}
h1 {
	font-size: 36px
}
h2 {
	font-size: 30px
}
h3 {
	font-size: 24px
}
h4 {
	font-size: 18px
}
h5 {
	font-size: 14px
}
h6 {
	font-size: 12px
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 65%;
	color: #777
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font: inherit;
	color: inherit
}
input[readonly], input[disabled], button[readonly], button[disabled], select[readonly], select[disabled], textarea[readonly], textarea[disabled] {
	cursor: not-allowed
}
input[disabled], button[disabled], select[disabled], textarea[disabled] {
	cursor: not-allowed;
	background-color: #eee
}
table {
	border-spacing: 0px;
	border-collapse: collapse
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}
a {
	color: #525252;
	text-decoration: none
}
* {
	-webkit-tap-highlight-color: transparent
}
a.a-bk {
	display: block
}
a.a-bk:active {
	background-color: rgba(153, 153, 153, 0.5)
}
.input-border-none {
	border: 0px !important;
	-webkit-box-shadow: inset 0 1px 1px transparent !important;
	box-shadow: inset 0 1px 1px transparent !important
}
.input-border-none:focus {
	-webkit-box-shadow: inset 0 1px 1px transparent !important;
	box-shadow: inset 0 1px 1px transparent !important
}
.decoration {
	text-decoration: line-through
}
.strong {
	font-weight: bolder
}
.overflow-1, .overflow-2 {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical
}
.overflow-1 {
	-webkit-line-clamp: 1
}
.overflow-2 {
	-webkit-line-clamp: 2
}
* {
	-moz-user-select: none;
	-webkit-user-select: none
}
input {
	-moz-user-select: auto;
	-webkit-user-select: auto
}
.text-middle:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%
}
.text-content {
	display: inline-block;
	vertical-align: middle
}
.left {
	float: left;
}
.right {
	float: right;
}
.left:before, .left:after, .right:before, .right:after {
	display: table;
	content: "";
	clear: both;
}
.text-center{height:100%;}
.text-center:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.text {
	display: inline-block;
	vertical-align: middle;
}