@charset "UTF-8";

.content{
	margin-bottom: 20px;
	display: block;
}
.title-img{
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title{
	text-align: center;
	line-height: 1.6;
}